
body {
    background-size: cover;
    margin: 0px;
    padding: 0pz;
    text-align: center!important;
}

.header {
    background-color: #87509c;
    height: 602px;
}
.text {
    height: 58px;
    }
.navbar-toggler {
color: #574c4c!important;
}
.nav-link {
font-family: "TitilliumWeb-Regular";
color: #ffffff;
}

@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url("../fonts/TitilliumWeb-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "TitilliumWeb-Bold";
    src: url("../fonts/TitilliumWeb-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "TitilliumWeb-Semibold";
    src: url("../fonts/TitilliumWeb-Semibold.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "TitilliumWeb-Light";
    src: url("../fonts/TitilliumWeb-Light.ttf");
    font-style: normal;
    font-weight: normal;
}
.text2 {
    text-align: center!important;
    font-family: "TitilliumWeb-Bold";
    color: #f7f3ea;
    font-size: 43px;
    font-weight: 700;
    line-height: 49.26px;
    align-items: center;
    justify-content: center;
 
}
.btn {
    text-align: center!important;
    font-family: "TitilliumWeb-Semibold";
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.42px;
    text-transform: uppercase;
    border-radius: .3rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 296px;
    height: 71px;
    background-color: #eb7d4b;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.section1 {
    background-color: #17c2a4;
    height: 757px;
}
.text11 {
    height: 119px;
    }
.text12 {
    text-align: center!important;
    font-family: "TitilliumWeb-Bold";
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 30.18px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
 
}
.text14 {
    text-align: center!important;
    font-family: "TitilliumWeb-Regular";
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.23px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.36px;
 
}

.col-md-3 {
    position: relative;
    width: 100%;

}
.i1 {
    background-color: #17c2a4;
    margin-bottom: 0em;
    border: none;
}
.text15 {
    text-align: center!important;
    font-family: "TitilliumWeb-Bold";
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 18.16px;

}
.text16 {
    text-align: center!important;
    font-family: "TitilliumWeb-Light";
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24.22px;

}


.section2 {
    background-color: #ffffff;
    height: 663px;
}
.text21 {
    text-align: center!important;
    font-family: "TitilliumWeb-Bold";
    color: #3c4761;
    font-size: 40px;
    font-weight: 700;
    line-height: 30.18px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
}
.text23 {
    text-align: center!important;
    font-family: "TitilliumWeb-Regular";
    color: #3c4761;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.23px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.36px;
 
}
.text24 {
    text-align: center!important;
    font-family: "TitilliumWeb-Regular";
    color: #3c4761;
    font-size: 24px;
    font-weight: 700;
    line-height: 18.16px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.48px;
}
.section3 {
    background-color: #ffdd99;
    height: 1439px;
}
.text31 {
    text-align: center!important;
    font-family: "TitilliumWeb-Bold";
    color: #393939;
    font-size: 40px;
    font-weight: 700;
    line-height: 30.18px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
}

.text33 {
    text-align: center!important;
    font-family: "TitilliumWeb-Regular";
    color: #393939;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.23px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.36px;
}
.btn2 {
    text-align: center!important;
    font-family: "TitilliumWeb-Semibold";
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.42px;
    text-transform: uppercase;
    border-radius: .3rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 296px;
    height: 71px;
    background-color: #17c2a4;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}
.section4 {
    background-color: #3c5499;
    height: 829px;
}
.text41 {
    text-align: center!important;
    font-family: "TitilliumWeb-Bold";
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 30.18px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
}
.text43 {
    text-align: center!important;
    font-family: "TitilliumWeb-Regular";
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.23px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.36px;
}
.btn3 {
    text-align: center!important;
    font-family: "TitilliumWeb-Semibold";
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.42px;
    text-transform: uppercase;
    border-radius: .3rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 296px;
    height: 71px;
    background-color: #30bae7;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}
.footer {
    background-color: #344b8e;
    height: 116px;
}