
body {
    background-size: cover;
    margin: 0px;
    padding: 0pz;
    text-align: center!important;
}

.header {
    background-color: #87509c;
    height: 602px;
}
.text {
    height: 58px;
    }
.navbar-toggler {
color: #574c4c!important;
}
.navbar {
    height: 151px;
    width: 1045;
    margin: 0px;
    padding-left: 26px;

}

ul {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    padding-right: 26px;

  }
ul li {
    list-style: none;
  }
  ul li a {
    position: relative;
    display: block;
    margin: 0 15px;
    padding: 5px 10px;
    font-family: "TitilliumWeb-Regular";
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
  }
  ul li a::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 4px;
    border-radius: .3rem;
    background: #643a79;
    transition: 0.5s;
  }
  ul li a:hover {
    color: #fff;
  }
  ul li a:hover::before {
    animation: animate .5s linear forwards; 
  }
  
  @keyframes animate {
    0% {
      top: calc(50% - 2px);
      left: -100%;
      height: 4px;
      z-index: 1;
    }
    50% {
      top: calc(50% - 2px);
      left: 0;
      height: 4px;
      z-index: 1;
    }
    100% {
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
    }
  }

@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url("../fonts/TitilliumWeb-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "TitilliumWeb-Bold";
    src: url("../fonts/TitilliumWeb-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "TitilliumWeb-Semibold";
    src: url("../fonts/TitilliumWeb-Semibold.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "TitilliumWeb-Light";
    src: url("../fonts/TitilliumWeb-Light.ttf");
    font-style: normal;
    font-weight: normal;
}
.con1 {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
}

.text2 {
    font-size: 70px;
    display: flex;
    font-family: "TitilliumWeb-Bold";
    color: #f7f3ea;
    line-height: 49.26px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 30px;
    letter-spacing: 1.1px;
    padding-right: 6.5px;
 
}
.batt {
    padding-top: 30px!important;
}
.btn {
    font-family: "TitilliumWeb-Semibold";
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.42px;
    text-transform: uppercase;
    border-radius: .3rem;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 296px;
    height: 71px;
    background-color: #eb7d4b;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid #c86a40;

}

.section1 {
    background-color: #17c2a4;
    height: 756px;
}
.text11 {
    height: 119px;
    }
.text12 {
    padding-top: 63px;
    margin-bottom: 0;
    display: flex;
    font-family: "TitilliumWeb-Bold";
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 30.18px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
 
}
.line1 {
    width: 88px;
    height: 5px;
    background-color: #14a58b;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.text14 {
    display: flex;
    font-family: "TitilliumWeb-Regular";
    color: #ffffff;
    font-weight: 400;
    line-height: 26.23px;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0.5px;
}
.podtext1 {
    margin: 0px;
    padding: 0px;
}
.container1 {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 30px;
}
.i {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;

}
.i1 {
    height: 135px;
    margin-bottom: 0em;
    border: none;
}
.text15 {
    padding-top: 50px;
    padding-bottom: 17px;
    text-align: center!important;
    font-family: "TitilliumWeb-Bold";
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 18.16px;

}
.text16 {
    text-align: center!important;
    font-family: "TitilliumWeb-Light";
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24.22px;

}


.section2 {
    background-color: #ffffff;
    height: 662px;
}
.text21 {
    padding-top: 58px;
    text-align: center!important;
    font-family: "TitilliumWeb-Bold";
    color: #3c4761;
    font-size: 40px;
    font-weight: 700;
    line-height: 30.18px;
    align-items: center;
    justify-content: center;
    letter-spacing: 3.5px;

}
.line2 {
    width: 88px;
    height: 5px;
    background-color: #dfe8ed;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.text23 {
    text-align: center!important;
    font-family: "TitilliumWeb-Regular";
    color: #3c4761;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.23px;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.4px;
 
}
.container2 {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    margin-top: 30px;
}
.text24 {
    text-align: center!important;
    font-family: "TitilliumWeb-Regular";
    color: #3c4761;
    font-size: 24px;
    font-weight: 700;
    line-height: 18.16px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.48px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.imgblock {
    position: relative;
    display: inline-block;
}
.imgblock span {
    position: absolute;
    margin: 0px;
    top: 49%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: "TitilliumWeb-Light";
    color: #3c4761;
    font-size: 50px;
    font-weight: 300;
    line-height: 21.03px;
}
.section3 {
    background-color: #ffdd99;
    height: 1439px;
}
.text31 {
    padding-left: 2px;
    padding-top: 57.6px;
    text-align: center!important;
    font-family: "TitilliumWeb-Bold";
    color: #393939;
    font-size: 40px;
    font-weight: 700;
    line-height: 30.18px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
}
.line3 {
    width: 88px;
    height: 5px;
    background-color: #e5c37f;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.text33 {
    padding-top: 5px;
    text-align: center!important;
    font-family: "TitilliumWeb-Regular";
    color: #393939;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.23px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.42px;
}
.text34 {
    text-align: center!important;
    font-family: "TitilliumWeb-Regular";
    color: #3c4761;
    font-size: 20px;
    font-weight: 700;
    line-height: 18.16px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.bat4 {
    padding-top: 20px;
}
.btn4 {
    font-family: "TitilliumWeb-Regular";
    color: #393939;
    font-size: 18px;
    font-weight: 400;
    line-height: 19.67px;
    text-transform: uppercase;
    border-radius: 0.4rem;
    width: 92px;
    height: 39px;
    background-color: #ebcb8d;
    border: #ebcb8d; 

}
.tel1 {
    padding-top: 15px;
    padding-left: 10px;
}
.te2 {
    padding-left: 10px;
}
.tel2 {
    padding-top: 15px;

}
.tel3 {
    padding-top: 60px;
    padding-left: 10px;
}
.te4 {
    padding-left: 10px;
}
.tel4 {
    padding-top: 60px;

}
.bt2 {
    margin-top: 15px;
}
.btn2 {
    font-family: "TitilliumWeb-Semibold";
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.42px;
    text-transform: uppercase;
    border-radius: .3rem;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 296px;
    height: 71px;
    background-color: #17c2a4;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid #14a58b;

}
.section4 {
    background-color: #3c5499;
    height: 829px;
}
.text41 {
    padding-top: 57.6px;
    text-align: center!important;
    font-family: "TitilliumWeb-Bold";
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 30.18px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
}
.line4 {
    width: 88px;
    height: 5px;
    background-color: #273a71;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.text43 {
    padding-top: 3px;
    text-align: center!important;
    font-family: "TitilliumWeb-Regular";
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.23px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.36px;
}

.fo1 {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    
}

.form-control1 {
    width: 100%;
    height: 57px;
    background-color:#273a71;
    border-radius: .3rem;
    border: #273a71;
    color: #ffffff;
    padding-left: 2%;
    padding: 0px;
    margin-top: 8%;
    margin-bottom: 6%; 
}


.form-control2 {
    width: 100%;
    height: 57px;
    background-color: #273a71;
    border-radius: .3rem;
    border: #273a71;
    color: #ffffff;
    padding-left: 2%;
    padding: 0px;
    margin-top: 8%;
    margin-bottom: 6%;

}
.pl2 {
    font-family: "TitilliumWeb-Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 18.16px;
    color: #ffffff;
}

::-webkit-input-placeholder {
    font-family: "TitilliumWeb-Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 18.16px;
    color: #ffffff;
    padding-left: 25px;

}


.form-control3 {
    width: 100%;
    height: 202px;
    background-color: #273a71;
    border-radius: .3rem;
    border: #273a71;
    color: #ffffff;
    padding-left: 2%;
    padding: 0px;

}

.fo2 {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 54px;
    padding-right: 54px;

}
.fo {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}
.btn3 {
    font-family: "TitilliumWeb-Semibold";
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.42px;
    text-transform: uppercase;
    border-radius: .3rem;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 296px;
    height: 71px;
    background-color: #30bae7;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid #299ec4;

}
.footer {
    background-color: #344b8e;
    height: 116px;
}
.foot2 {
    padding-top: 40px;
}
.foot1 {
    font-family: "TitilliumWeb-Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 27.16px;
    color: #97a3c7;
    letter-spacing: 0.5px;
    padding-left: 25px;
    padding-right: 25px;
 
}